<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h2>Create Admin </h2>
            <h5>Welcome to my web, Love to see you back! </h5>

        </div>
    </div>
    <!-- /. ROW  -->
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="reg-form">
                        <div class="container">
                            <div class="reg">
                                <h3>Create Admin Account</h3>
                                <p style="margin-top: -20px">Welcome, please enter the following details to continue.</p>
                                <form action="/register" method="POST" autocomplete="off">
                                    <input type="hidden" name="_id" value="{{admin._id}}">
                                <form>

                                    <div class="form-group">
                                        <label> Username </label>
                                        <input type="text" class="form-control" placeholder="Username" name="username">
                                    </div>

                                    <div class="form-group">
                                        <label> Email </label>
                                        <input type="text" class="form-control" placeholder="Email" name="email">
                                    </div>

                                    <div class="form-group">
                                        <label> Adminname </label>
                                        <input type="text" class="form-control" placeholder="Adminname" name="name">
                                    </div>

                                    <div class="form-group">
                                        <label> Password </label>
                                        <input type="text" class="form-control" placeholder="Password" name="password">
                                    </div>

                                    <div class="form-group">
                                        <label> Mobilephone </label>
                                        <input type="text" class="form-control" placeholder="Mobilephone" name="number">
                                    </div>

                                    <input type="submit" style="margin-left: 480px" class="btn-danger" value="Create Now">

                                </form>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Form Elements -->
    </div>
</div>
<!-- /. ROW  -->
</div>
</div>
</div>